* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
li {
    color: white;
    list-style-type: none;
    font-style: italic;
}

.header {
    width: 100%;
    height: 100%;
    position: relative;
}

.mg-b {
    margin-bottom: 2rem;
}

.hero-section-background {
    width: 100%;
    height: 100%;
    background: url("./img/bar_crawl.jpg");
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.hero-section-background::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute; 
    top:0;
    left:0;
    background-color: rgb(22, 22, 22);
    opacity: 0.5;   
}

.logo {
    position: relative;
    width: 5rem;
}

.logo img {
    width: 100%;
    height: auto;
}

nav {
    padding: 3rem 1.25rem;
    display: flex;
    justify-content: space-between;
}

.hero-section-content {
    padding: 6rem 1.25rem;
}


@media (min-width:540px) {

    nav {
        padding: 3rem 1.5rem;
    }

    .hero-section-content {
        padding: 8rem 4rem;
    }


}

@media (min-width:993px) {

    nav {
        padding: 5rem;
    }

    .hero-section-content {
        padding:2rem 5rem;
    }

    .logo {
        position: relative;
        width: 8.725rem;
    }
}


h1 {
    color: #ebe6e6d3;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
}

h1 span {
    padding: 2px 8px 00px 8px;
    background-color: #ff9800;
    color: rgb(22, 22, 22);
}

@media (min-width:540px) {

    h1 {
        font-size: 60px;
        line-height: 1.6;
    }

    h1 span {
        padding:3px 12px 00px 12px;
    }
}

@media (min-width:993px) {

    h1 {
        font-size: 110px;
        line-height: 1.2;
    }

    h1 span {
        padding: 8px 20px 00px 20px;
    }
}


.white {
    color: white;
}


.text.pl-3 {
z-index: 20;
} 

.socials {
    position: absolute;
    display: flex;
    gap: 1rem;
    right:20px;
    bottom: 20px;
    width: 60px;
    height: auto;
}
.socials a {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.socials svg {

    transition: fill 0.3s;
}

.socials svg:hover {
    fill: #ff9800;
}


/* ABOUT SECTION */


.about {
    width: 100%;
    padding: 100px 0;
    background-color: rgb(22, 22, 22);
}
span {
    color: #ff9800;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 100%;
    padding: 0 1.25rem;
}

.main {
    margin:0 auto;
    display: flex;
    flex-direction: column-reverse;

}
.about-text h2 {
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 0.825rem;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 0.825rem;
    text-transform: capitalize;
}
.about-text p {
    color: white;
    margin-bottom: 2rem;
}

.about-img {
    position: relative;
    width: 100%;
    height: auto;
}
.about-img img {
    width: 100%;
    height: 100%;
}
.about-img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute; 
    top:0;
    left:0;
    background-color: rgba(22, 22, 22,0.215);
    opacity: 1;   
}


@media (min-width:993px) {

    .main {
        width: 1130px;
        max-width: 95%;
        margin:0 auto;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        gap: 5rem;
    }

    .about-img {
        width: 40%;
        height: auto;
    }

    .about-text {
        width: 550px;
        padding: 0;
    }

    .about-text h2 {
        font-size: 75px;
        margin-bottom: 20px;
    }

    .about-text h5 {
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 1.825rem;
    }

}




section {
    padding: 7rem 0;
    min-height: 100%;
}


.contact-section {
    background: url("./img/bar_crawl2.jpeg") center no-repeat;
    background-size: cover;
    position: relative;
}

.contact-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22,0.215);
    opacity: 0.2;
}

form {
    position: relative;
    z-index: 20;
}





/* CSS */
.button {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #dfdfdf;
  border-radius: 65px;
  box-sizing: border-box;
  color: #ececec;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0.6rem 2.2rem;
  text-align: center;
  text-decoration: none;
  transition: all 800ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: rgb(0, 0, 0);
  border: 2px solid #ff9800;
  background-color: #ff9800;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}



.button_hero-section {
    margin-top: 3rem;
}

@media (max-width:993px) {
    .button_about-section {
        margin-bottom: 3rem;
    }
}



.btn.btn-primary {
    border-radius: 65px;
    padding: 0.4rem 3.2rem;
    min-height: 55px;
}


@media (min-width:993px) {

    .button {
        font-size: 16px;
        font-weight: 500;
        padding: 1rem 3.2rem;
      }
}




@media (max-width:767px) {
    .col-lg-10 {
        padding:0;
    }
    
    section.contact-section {
        padding: 0;
    }
    
    .row.justify-content-center {
        background-color: #272a34;
    }
    .contact-section {
        background: #272a34;
    }

    .contact-section::after {
        display: none;
    }
}

